body{
  font-size:10px;
  box-sizing: border-box;
}
* div{
  font-size:1rem;
}
.bar{
  display: flex;
  border-bottom: 1px solid #c5bebe;
  margin-bottom: 3rem;
}
.bar > ul{
  margin-top: 1rem;
  margin-right:1.5rem;
  display: flex;
  justify-content: flex-end;
}
.bar ul > li{
  margin-left:1rem;
  display: flex;
  justify-content: flex-end;
}
span.brand {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width:100%;
}
.App {
  text-align: left;
  width:100vw;
  border:2px solid rgb(139, 250, 144);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.searchForm{
  position: relative;
}

.weatherForm input{
  width:39vw;
}
.dropdown{
  position: absolute;
  top:-180px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index:3;
  background-color: white;
}
.dropdown.open {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 44vw;
  border: 1px solid black;
  min-height: 2rem;
  max-height: 10rem;
  overflow-y: scroll;
  opacity: 1;
  margin: auto;
}
.dropdown.open ul{
 padding-left:0.8rem;
 padding-top:.25rem;
}
.dropdown.open li{
  list-style-type: none;
}
.dropdown.open li:hover{
  background-color: #fabd7e
}
.header{
  width: 100%;
display: flex;
justify-content: start;
}

.card{
  max-width:22%;
  width: 100%;
  max-width: 9rem;
  margin: 1rem;
}

.card .weather{
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
}

main.weatherForm .form{
  display: flex;
  justify-content: center;
  margin:1rem 0;
}

.wrapper{
  display: flex;
    justify-content: space-around;
    max-width: 50vw;
    margin: 1rem auto;
}

.weatherForm{
  max-width: 60vw;
    margin: 1rem auto;
}

.footer{
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgba(255,255,255,.9);
  padding:1rem;
  left: 0;
  border-top:1px solid #efefef;
}

h2.forecast{
  text-align:center;
  margin-bottom:2.5rem;
}

.divy2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.faveHeart span.rheart{
  color:red;
}
.faveHeart span.gHeart{
  color:grey;
}
.faveHeart span.boxy {
  font-weight:bold;
  padding:0.5rem;
  border:1px solid red;
  }  

.faveHeart span:nth-of-type(1){
  font-size: 1.4rem;
  margin:0.5rem;
}
.faveHeart.default{
  color:#6e6e6e;
}

.card.fifty1{
  width: 100%;
  max-width: 30%;
}

.card.fifty1 > .card-body{
  display: flex;
}
.card.fifty > .card-body >img{
  border:1px solid black;
  padding:1rem;
}

.extForecast, .faves{
  display: flex;
    width: 100%;
    max-width: 80vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem auto 4rem;
}

.btn-primary{
  height:3rem;
}




@media screen and (max-width: 1023px) {
  html, body{
    font-size:13px;
  }
  .weatherForm input {
    width: 60vw;
  }
  .card{
    margin-top:.5rem;
    width: 100%;
    max-width: 12rem;
  }
  .divy2 {
    flex-direction: column;
    align-items: center;
  }
  .card.fifty1 {
    margin-bottom: 1rem;
    max-width: 100%;
  }
  .card.fifty1 > .card-body{
    flex-direction: column;
    align-items: center;
  }
  .extForecast, .faves {
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
  }
}
